.admin-dashboard-container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    background: #f4f4f4;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .admin-heading {
    font-size: 28px;
    margin-bottom: 30px;
    color: #333;
  }
  
  .admin-buttons button {
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #d32f2f;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .admin-buttons button:hover {
    background-color: #b71c1c;
  }
  .logout-button {
    background-color: #dc3545;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .logout-button:hover {
    background-color: #c82333;
  }
  