.category-page 
{
    background-color: #f9f9f9; /* Light background */
    padding: 20px; /* Add spacing */
    border-radius: 10px; /* Smooth corners */
}
  
.category-title 
  {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333;  /* Dark text for contrast */
  }
  
  /* .product-grid { */
    /* display: flex; */
    /* flex-wrap: wrap; Ensure grid wraps on smaller screens */
    /* gap: 20px; Add space between items */
    /* justify-content: center; Center the grid items */
  /* } */
  