/* Main container */
.dashboard-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
  }
  
  /* TopBar at the top */
  
  
  /* Sidebar - Fixed on the left side for larger screens, full-width for mobile */
  .sidebar {
    width: 250px;
    background-color:white;
    padding: 200px;
    height: calc(100% - 92px); /* Full height, minus the top bar */
    position: fixed;
    top: 92px; /* Start below the top bar */
    left: 0;
    z-index: 2000; /* Ensure it's above other elements */
    transition: all 0.3s ease-in-out;
  }
  
  /* Main content - Adjusts based on screen size */
  .main-content {
    margin-left: 250px; /* Leave space for the sidebar */
    padding: 20px;
    height: calc(100% - 92px); /* Full height, minus the top bar */
    overflow-y: auto;
    background-color: #fff;
    transition: margin-left 0.3s ease-in-out;
  }
  
  /* Responsive styles for mobile */
  @media (max-width: 768px) {
    .sidebar {
      width: 100%; /* Sidebar becomes full-width */
      height: auto; /* Adjust height */
      position: relative;
      top: 0;
    }
  
    .main-content {
      margin-left: 0; /* No left margin for main content */
      margin-top: 20px; /* Add space between sidebar and content */
    }
  }
  