.custom-navbar {
    background-color: #FFCC00; /* Orange background color */
    padding: 1rem 1rem; /* Adjust padding */
    position: sticky;
    top:0;
    left: 0;
    width:100%;
    z-index: 3333;
}
/* Search bar styling */
.search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 30px;
    overflow: hidden;
  }
  
  .search-icon {
    color: #ffcc00;
    padding: 0 10px;
  }
  
  .search-input {
    border: none;
    outline: none;
    padding: 10px;
    flex-grow: 1;
  }
  
  .search-button {
    border: none;
    background: #ffcc00;
    color: #fff;
    padding: 10px 15px;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
  }
  

.navbar-brand img {
    height: 60px;
    border: none;
    width: 180px; /* Adjust logo height */
}

/* Sidebar overlay */
.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3333;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .sidebar-overlay.show {
    opacity: 1;
    visibility: visible;
  }
  
  /* Sidebar container */
  .sidebar-container {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: #FFCC00; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease;
    padding: 20px;
    z-index: 1050;
  }
  
  .sidebar-container.open {
    left: 0;
  }
  
  /* Sidebar header */
  .sidebar-header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  
.search-input {
    height: 50px; /* Adjust input height */
}

.nav-link {
    color: black !important; /* Change link color to white */
    margin-left: 15px; /* Space between links */
}

.nav-link:hover {
    color: black !important; /* Change color on hover */
}
.cart-icon {
    font-size: 2rem !important; /* Increase the cart icon size */
}
