/* TopBar.css */
.top-bar {
    display: flex;
    align-items: center;
    background-color: #FFCC00;
    color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 20px;
    height: 92px; /* Position relative to allow sidebar to be below it */
    z-index: 1; /* Ensure it stays above the sidebar */
  }
  
  .sidebar-toggle {
    cursor: pointer; /* Change cursor to indicate clickability */
    margin-right: 20px; /* Space between icon and store info */
  }
  
  .store-image {
    width: 60px; /* Circle size */
    height: 60px; /* Same as width for a perfect circle */
    border-radius: 50%; /* Makes the image circular */
    border: 2px solid #4CAF50; /* Adds a border */
    object-fit: contain; /* Ensures the entire image fits inside the circle */
     /* Optional: Sets a background for transparency */
    padding: 3px; /* Optional: Space between the image and the border */
    cursor: pointer;
  }
  
  
  
  .store-info {
    display: flex;
    align-items: center; /* Center image and text vertically */
  }